/* General container */
#about {
  padding-top: 40px;
  background-image: url(/public/images/background\ 9.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

#about h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.3rem;
  color: #336699;
  font-family: Arial black, Helvetica, sans-serif;
}

/* Flex container for items */
.sets-apart-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Base card styles */
.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 25px solid #ffdf02;
  border-radius: 8px;
  width: 250px;
  height: 300px;
  padding: 40px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  background: white;
  overflow: hidden; /* Prevent text overflow */
}

/* Styling for the number */
.about-item h5 {
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #336699;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Style for text inside the cards */
.about-item .content h3,
.about-item .content h4,
.about-item .content p {
  font-size: 1rem;
  margin: 0 5px;
  margin-bottom: 10px;
  line-height: 1.2;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
  color: #336699;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .sets-apart-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  #about h2 {
    font-size: 2rem;
  }

  .about-item:hover {
    transform: scale(1.2);
  }

  .about-item {
    width: 360px;
    height: 360px;
  }

  .about-item h5 {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .about-item .content h3,
  .about-item .content h4,
  .about-item .content p {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  #about h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.3rem;
    color: #0872a8;
    font-family: Arial black, Helvetica, sans-serif;
  }

  .about-item {
    padding: 50px;
  }
}
