#announcements {
    padding: 40px;
    background-color: #b8eeef;
  }
  
  #announcements h2 {
    text-align: center;
    font-size: 2.3rem;
    color: #0872a8;
    margin-bottom: 60px;
    font-family: Arial black, Helvetica, sans-serif;
  }
  
  #announcements h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #0872a8;
  }
  
  .announcement-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the cards horizontally */
    gap: 20px;
    max-width: 1000px; /* Set a max width to prevent cards from stretching too wide */
    margin: 0 auto; /* Center the container within the parent */
  }
  
  .announcement-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make cards take up 100% of their parent container */
    max-width: 800px; /* Max width for each card to prevent stretching */
  }
  
  .announcement-card h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .announcement-date {
    font-size: 1rem;
    color: #888;
    margin-bottom: 10px;
  }
  
  .announcement-card p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }
  
.calendar-container h2 {
margin-bottom: 30px;
}

  @media (max-width: 768px) {
    #announcements h2 {
      font-size: 2rem;
    }
  
    .announcement-card h3 {
      font-size: 1.5rem;
    }
  
    .announcement-card p {
      font-size: 1rem;
    }
  }
  