/* Base styles for small screens */
.calendar-section {
    padding: 10px;
    background-color: #fff200;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Default to full width on small screens */
  }
  
  .calendar-container {
    background-color: #fff200;
    padding: 20px;
    text-align: center; /* Center content on smaller screens */
  }
  
  .calendar-container iframe {
    width: 95%; /* Take up most of the screen width */
    height: 400px; /* Adjust iframe height for smaller screens */
    margin: 0 auto; /* Center the iframe */
  }
  
  .calendar-container h2 {
    text-align: center;
    font-size: 1.7rem;
    color: #0872a8;
    font-family: Arial black, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
  
  /* Styles for larger screens */
  @media (min-width: 768px) {
    .calendar-section {
      max-width: 840px; /* Limit width on larger screens */
      margin: 0 auto; /* Center the section */
    }
  
    .calendar-container {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .calendar-container iframe {
      width: 70%; /* Use more precise width */
      height: 800px;
      margin: 0 auto;
    }
  
    .calendar-container h2 {
      font-size: 2.3rem;
      margin-bottom: 60px;
    }
  }
  