#contact {
    padding: 20px;
    background-color: #0872a8;
    color: #333;
    line-height: 1.6;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #555;
  }
  
  p {
    margin: 5px 0;
  }
  
  .contact-details, .business-hours, .school-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #b8eeef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  strong {
    color: #000;
  }
  
  .contact-details p, .business-hours p, .school-info p {
    padding: 5px 0;
  }
  

  .map-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center the map horizontally */
  }
  
  iframe {
    max-width: 100%;
    border-radius: 8px; /* Optional rounded corners */
  }
  
  