#contact {
    padding: 20px;
    /* background-color: #fff200; */
    background-image: url(/public/images/background\ 9.svg);
    background-size: cover;
    color: #005f87;
    line-height: 1.6;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    color: #336699;
    font-family: Arial black, Helvetica, sans-serif;
    margin-bottom: 60px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #336699;
  }
  
  p {
    margin: 5px 0;
  }
  
  .contact-details, .business-hours, .school-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-top: 25px solid #ffdf02;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  strong {
    color: #336699;
    font-size: 1rem;
  }
  
  .contact-details p, .business-hours p, .school-info p {
    padding: 5px 0;
  }
  

  .map-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center the map horizontally */
  }
  
  #contact iframe {
    max-width: 100%;
    border-radius: 8px; /* Optional rounded corners */
  }
  
.line-qr-code {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-top: 25px solid #ffdf02;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line-qr-code h3 {
    font-size: 1.5rem;
    color: #336699;
    margin-bottom: 10px;
}

.line-qr-code a {
    color: #336699;
    text-decoration: underline;
}

.line-qr-code a:hover {
    color: #005f87;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content iframe {
  border-radius: 8px;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: whitesmoke;
  border-radius: 8px;
  font-size: 1.5rem;
  color: #336699;
  cursor: pointer;
}

.close-button:hover {
  color: #274a73;
}

.clickable-address {
  color: #336699;
  text-decoration: underline;
  cursor: pointer;
}

.clickable-address:hover {
  color: #005f87;
}


@media (max-width: 430px) {
    h3 {
        margin-top: 10px;
        font-size: 1.2rem;
        color: #336699;
      }

      .contact-container h2 {
        font-size: 1.3rem;
      }
      .contact-details, .business-hours, .school-info p{
font-size: 1rem;

      }

}