/* Footer Section */
.footer {
  background-color: #0872a8;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 10px;
}

.footer-address {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  text-align: left;
}

.footer-address h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: white;
}

.footer-address p {
  margin: 5px 0;
  font-size: 14px;
  color: white;
}
.footer-address strong {
  color: white;
}

.footer-links {
  width: 150px; /* Fix the width of the container */
  text-align: center; /* Align text centrally */
  padding-top: 21px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack links vertically */
  gap: 0px; /* Add space between links */
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 8px 15px; /* Consistent padding */
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-links a:hover {
  background-color: #065a84; /* Highlight link background */
  transform: translateY(-3px); /* Subtle lift effect */
  color: #fff200; /* Bright yellow text on hover */
  text-decoration: underline; /* Add underline on hover */
}






.footer-copyright p{
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.8;
  color: white;
}

/* QR Code Section */
.footer-qr-code {
  flex: 1;
  min-width: 200px;
  text-align: center;
  margin-top: 0px; 
}

.footer-qr-code h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff; 
}

.footer-qr-code p {
  font-size: 14px;
  margin-top: 10px;
  color: #fff; 
}

.footer-qr-code img {
  margin-top: 10px;
  max-width: 150px; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

.footer-links {
  width: 150px;
}

  .footer-address,
  .footer-links,
  .footer-qr-code {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-qr-code {
    margin-top: 0;
  }
}

@media (min-width:1300px) {

  .footer-address {
    
    width: 33%;
    text-align: center;
  }

  .footer-qr-code {
    width: 33%;
   
  }

  .footer-links {
    width:33%
  }
}