nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #b8eeef;
  padding: 20px 0;
  margin: 0;
}

nav li {
  text-align: center;
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #171616;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #0872a8;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100px; /* Fixed width for consistent card size */
  height: 25px; /* Fixed height for consistent card size */
}

nav a:hover {
  color: #ffd900;
  background-color: #0872a8;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

nav strong {
  font-size: 1rem;
  font-weight: bold;
}

nav span {
  font-size: 0.8rem;
  display: block;
  color: #d6d6d6;
  transition: color 0.3s;
}

nav a:hover span {
  color: #ffd700;
}

/* Ensure text is vertically centered in the cards */
nav a {
  text-align: center;
}
