/* Style the navbar list container */
nav ul {
  display: flex; /* Arrange list items in a row */
  gap: 5px; /* Add 5px gap between items */
  list-style: none;
  background-color: #b8eeef;
  padding: 20px 0;
  margin: 0;
  justify-content: center; /* Center the links horizontally */
  border-bottom: 1px solid #0872a8;
}

nav ul li i {
  font-size: 2rem !important; /* Adjust size as needed */
  margin-right: 8px; /* Add some space between the icon and the text */
  vertical-align: middle; /* Align icons with the text */
  color: #0872a8; /* Icon color */
}

nav ul li:hover i {
  color: #005f8a; /* Change color on hover */
}


/* Style individual list items */
nav li {
  text-align: center;
}

/* Style the links with just text and a border to the right */
nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0872a8;
  font-family: Arial, sans-serif;
  padding: 0px 40px; /* Add horizontal padding */
  /* border-right: 1px solid #0872a8;  */
  transition: color 0.3s ease-in-out;
}

/* Hover effect */
nav a:hover {
  color: white; /* Change text color on hover */
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700; /* Optional glow effect */
  /* border-right: 2px solid #ffd700; Change the hover border color */
}

/* Responsive text styles */
nav strong {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0872a8;
  margin-bottom: -10px;
  margin-top: 10px;
}
/* 
nav strong:hover {
  color: white;

} */

nav span {
  font-size: 1rem;
  display: block;
  color: #0872a8;
  transition: color 0.3s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: 65%;
}

/* nav a:hover span {
  color: #ffd700;
} */

@media (max-width: 430px) {
  nav ul li i {
    font-size: 1rem !important; /* Adjust size as needed */
    margin-right: 8px; /* Add some space between the icon and the text */
   }

   nav a {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    padding: 0px 0px; /* Add horizontal padding */
   
  }

  nav strong {
    font-size: 0.8rem;
    font-weight: bold;
    color: #0872a8;
    margin-bottom: -20px;
    margin-top: 10px;
    padding: 5px;
  }

  nav ul {
    display: flex; /* Arrange list items in a row */
    gap: 5px; /* Add 5px gap between items */
    list-style: none;
    background-color: #b8eeef;
    padding: 20px 0;
    margin: 0;
    justify-content: left; /* Center the links horizontally */
    border-bottom: 2px solid #0872a8;
  }

  nav li {
    text-align: left;
  }
  
}