/* PasswordModal.css */

.password-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .password-modal-content {
    background-color: #b8eeef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .password-modal-content h2 {
    margin-bottom: 10px;
    color: #0872a8;
    font-size: 2rem;
  }
  
  .password-modal-content input {
    width: 90%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-modal-content button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0872a8;
    color: white;
    cursor: pointer;
    margin: 5px;
  }
  
  .password-modal-content button:hover {
    background-color: #005f87;
  }
  