.main {
  height: 100vh;
  background-image: url('/public/images/web_top_2022_11.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
}
