/* Mobile-first styling for the Instructors section */
#instructors {
  padding: 20px;
  background-image: url(/public/images/background\ 9.svg);
  background-size: cover;
}

#instructors p {
  color: #336699;
  opacity: 75%;
}

#instructors strong {
  color: #336699;
  font-size: 1.2rem;
}

#instructors h2 {
  text-align: center;
  font-size: 1.3rem;
  color: #336699;
  margin-bottom: 40px;
  font-family: Arial black, Helvetica, sans-serif;
}

.instructors-container {
  display: flex;
  flex-direction: column; /* Stack the instructor cards vertically by default */
  gap: 20px;
}

.instructor-card {
  background-color: white;
  /* border: 8px solid #fff200; */
  border-top: 25px solid #ffdf02;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; /* Stack content vertically */
  padding: 20px;
  text-align: left;
}

.instructor-info {
  display: block; /* Stack image and bio vertically on small screens */
  gap: 20px;
  text-align: left;
}

.bio {
  margin-top: 10px;
}

.bio-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.instructor-main-image {
  width: 80%; /* Ensures the image takes up most of the container's width */
  height: 35vh; /* Adjust height relative to the viewport */
  max-width: 60vw; /* Limits the width for larger screens */
  max-height: 50vh; /* Limits the height for larger screens */
  /* margin: 0 auto 10px;  */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  border-radius: 8px; /* Adds rounded corners */
}


.small-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.instructor-small-image {
  width: 120px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.instructor-small-image:hover {
  transform: scale(2);
  z-index: 1;
  cursor: pointer;
}

/* Image Links */
.instructor-main-image.paul {
  background-image: url('/public/images/paul2013.jpg');
}

.instructor-small-image.paul-small-1 {
  background-image: url('/public/images/Paul_DSC02343.jpg');
}

.instructor-small-image.paul-small-2 {
  background-image: url('/public/images/Paul_IMG_0962.jpg');
}

.instructor-small-image.paul-small-3 {
  background-image: url('/public/images/Paul_IMG_1539.jpg');
}

.instructor-small-image.paul-small-4 {
  background-image: url('/public/images/sPaul_DSC02397.jpg');
}

.instructor-main-image.lewis {
  background-image: url('/public/images/Lewis_Top_s.jpg');
}

.instructor-small-image.lewis-small-1 {
  background-image: url('/public/images/Lewis_1s.jpg');
}

.instructor-small-image.lewis-small-2 {
  background-image: url('/public/images/Lewis_2s.jpg');
}

.instructor-small-image.lewis-small-3 {
  background-image: url('/public/images/Lewis_3s.jpg');
}

.instructor-small-image.lewis-small-4 {
  background-image: url('/public/images/Lewis_4s.jpg');
}

.instructor-main-image.justin {
  background-image: url('/public/images/Justin_DSC02302.jpg');
}

.instructor-small-image.justin-small-1 {
  background-image: url('/public/images/Justin_Aoi_IMG_0844.jpg');
}

.instructor-small-image.justin-small-2 {
  background-image: url('/public/images/Justin_erika71.jpg');
}

.instructor-small-image.justin-small-3 {
  background-image: url('/public/images/Justin_mao_momoka.jpg');
}

.instructor-small-image.justin-small-4 {
  background-image: url('/public/images/Justin_yuma_kimika_satsuki.jpg');
}

.instructor-main-image.chinatsu {
  background-image: url('/public/images/chinatsu3.jpg');
}

/* Larger screen adjustments */
@media (min-width: 650px) {
  #instructors h2 {
    font-size: 2rem;
  }

  .instructors-container {
    flex-direction: row; /* Align cards horizontally */
    flex-wrap: wrap; /* Allow wrapping */
    gap: 40px; /* Add spacing between rows */
    justify-content: space-around; /* Space cards evenly */
  }

  .instructor-card {
    /* flex: 1 1 calc(45% - 20px); 
    max-width: calc(45% - 20px); */
    padding: 20px;
    
  }

  .instructor-info {
    display: flex; /* Align image and bio side by side */
    gap: 20px;
  }

  .instructor-main-image {
    width: 250px;
    height: 250px;
  }

  .small-images {
    display: flex;
    flex: wrap;
    justify-content: center;
  }

  .instructor-small-image {
    width: 180px;
    height: 100px;
  }
}
